/* Custom CSS for enhancing the map interface */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars */
}

.map-container {
    position: relative;
    height: 100vh; /* Full viewport height */
}

#folium-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through to the map */
}

.overlay-header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.overlay-controls {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 1000;
    border-radius: 8px;
    width: 250px;
}

.dropdown {
    width: 100%;
    margin-bottom: 10px;
}

.map-container {
    position: relative;
    height: 100vh;
}

iframe {
    border: none;
}

.overlay-chart-container {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 15px;
    border-radius: 5px;
}

.overlay-chart-header {
    margin-bottom: 10px;
}

.overlay-chart {
    width: 500px;
    height: 300px;
}
